/* Style général de la carte de profil */
.profile-card {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.left-section {
  margin-top: -150px;
}

/* Style de l'image */
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

/* Style de la section de droite */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Style des inputs et des labels */
.profile-card label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-card input[type="text"],
.profile-card input[type="email"],
.profile-card input[type="number"],
.profile-card input[type="file"],
.profile-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.profile-card input[type="text"]:focus,
.profile-card input[type="email"]:focus,
.profile-card input[type="number"]:focus,
.profile-card input[type="file"]:focus,
.profile-card select:focus {
  border: 3px solid #555;
}

/* Style des groupes d'inputs */
.input-group {
  display: flex;
}

.input-group > div {
  flex: 1;
}

label{
  font-size: 14px;
}

.input-label{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.input-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + .75rem);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 .25rem .25rem 0;
}